@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(28, 17, 208);
  background: radial-gradient(
    circle,
    rgba(28, 17, 208, 1) 0%,
    rgba(96, 96, 226, 1) 35%,
    rgba(248, 101, 255, 1) 100%
  );
}

.top-div {
  display: flex;
  background-color: white;
  border-radius: 3em;
  align-items: center;
  justify-content: space-around;
  padding: 2.5em;
}

.imageDiv {
  padding: 3em;
  position: relative;
  right: 10em;
  z-index: 0;
}

.imageMain {
  position: relative;
  z-index: 2;
}

.imageBox {
  position: absolute;
  z-index: 2;
  top: 9em;
  animation: shake 1s;
  animation-iteration-count: infinite;
  z-index: 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pattern {
  width: 700px;
  /* border: 2px solid black; */
  position: absolute;
  z-index: 1;
  top: 0em;
  right: -1em;
}

.top-questions h1 {
  grid-area: header;
}
.question-1 {
  font-weight: bold;
  grid-area: question-1;
}
.question-2 {
  font-weight: bold;
  grid-area: question-2;
}
.question-3 {
  font-weight: bold;
  grid-area: question-3;
}
.question-4 {
  font-weight: bold;
  grid-area: question-4;
}
.question-5 {
  font-weight: bold;
  grid-area: question-5;
}

.arrow-1 {
  width:1.5em;
  grid-area: arrow-1;
}
.arrow-2 {
  width:1.5em;
  grid-area: arrow-2;
}
.arrow-3 {
  width:1.5em;
  grid-area: arrow-3;
}
.arrow-4 {
  width:1.5em;
  grid-area: arrow-4;
}
.arrow-5 {
  width:1.5em;
  grid-area: arrow-5;
}

.answer-1 {
  grid-area: answer-1;
}
.answer-2 {
  grid-area: answer-2;
}

.answer-3 {
  grid-area: answer-3;
}
.answer-4 {
  grid-area: answer-4;
}
.answer-5 {
  grid-area: answer-5;
}


.top-questions {
  padding: 1em;
  display: grid;
  /* grid-auto-columns: 3fr; */
  align-items: center;
  column-gap: 1em;
  grid-template-areas:
    "header header header header"
    "question-1 question-1 question-1 arrow-1"
    "answer-1 answer-1 answer-1 answer-1"

    "question-2 question-2 question-2 arrow-2"
    "answer-2 answer-2 answer-2 answer-2"

    "question-3 question-3 question-3 arrow-3"
    "answer-3 answer-3 answer-3 answer-3"

    "question-4 question-4 question-4 arrow-4"
    "answer-4 answer-4 answer-4 answer-4"

    "question-5 question-5 question-5 arrow-5"
    "answer-5 answer-5 answer-5 answer-5"

}
