@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {

  background: radial-gradient(circle,
      rgba(28, 17, 208, 1) 0%,
      rgba(96, 96, 226, 1) 35%,
      rgba(248, 101, 255, 1) 100%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.top-div {
  display: flex;
  background-color: white;
  border-radius: 3em;
  padding: 3em;
  width: 65%;
}

.imageDiv {
  padding: 3em;
  position: relative;
  right: 10em;
  z-index: 0;
}

.imageMain {
  position: relative;
  z-index: 2;
}

.imageBox {
  position: absolute;
  z-index: 2;
  top: 9em;
  animation: shake 1s;
  animation-iteration-count: infinite;
  z-index: 3;
}

.pattern {
  position: absolute;
  max-height: 30em;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pattern {
  width: 700px;
  position: absolute;
  z-index: 1;
  top: 0em;
  right: -1em;
}


.top-questions {
  padding: 1em;
  display: grid;
  align-items: center;
  column-gap: 1em;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.top-questions h1 {
  grid-column: 1 / 3;
}

.question {
  font-weight: bold;
}

.answer {
  grid-column: 1/3;
}

.arrow {
  width: 1.5em
}

.down {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1200px) {

  html {

    background: radial-gradient(circle,
        rgba(28, 17, 208, 1) 0%,
        rgba(96, 96, 226, 1) 35%,
        rgba(248, 101, 255, 1) 100%);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

  }

  .top-div {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .top-questions {
    padding: 3em;
    padding-top: 6em;
    background-color: white;
    border-radius: 3em;

  }

  .imageDiv {
    padding: 0em;
    position: relative;
    margin: 0;
    z-index: 0;
  }

  .imageMain {
    position: relative;
    top: 5em;
    left: 10em;
    width: 100%;
    z-index: 2;
  }

  .imageBox {
    position: absolute;
    left: 9em;
    top: 9em;
    max-width: 30%;
    z-index: 2;
    animation: shake 1s;
    animation-iteration-count: infinite;
    z-index: 3;
  }

  .pattern{
    position: absolute;
    top:3em;
    left:7em;
    width:100%;
  }
}